.form-button-action {
    display: flex;
    gap: 2px; 
  }
  
  .form-button-action a {
    padding: 2px 5px; 
    margin: 0;
  }
  

.form-outline.row.error { 
    border: 2px solid red; 
}
.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

  